#contact-info {
font-size: .8em;
}

.job {
  background-color: #e9e5dc;
  padding: 2%;
  margin-top: 10px;
  border-radius: 2%;
}

ul.font-size {
font-size: .8em;
}

h2:hover {
    font-size:100px;
  }

strong {color:red}
p {color: blue; text-decoration: underline;}

em:first-child {
    color: green;
  }